* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1D232C;
  --white: #FFF;
  --light-gray: #898d94;
  --2px: 0.125rem;
  --5px: 0.3125rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --48px: 3rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
}